:root {
    margin: 0;
}

body{
    background-image: url('http://localhost/perpustakaan/assets/img/kanesa.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .background{
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.6);
    }
}